body {
    font-family: Arial, sans-serif;
    color: #333;
}
body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial, sans-serif;

}

.intro-windows{
    height: 150vh;
    background-color: #c8c9cb;
}


.container-top {
    width: 100vw;
    justify-content: center;
    align-items: center;
    position: relative;
    position: absolute;
    margin-bottom: 35%;
}

.window {
    position: relative;
    width: 150px;
    height: 200px;
    margin: 20px;
    border-top-width: 5px;
    border-color: red;
}

.window .closed {
    width: 100%;
    height: 100%;
    background-color: #e0e0e0;
    border-radius: 25px;
    overflow: hidden; 
    position: relative;
    z-index: 2; 
}

.window .open {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; 
    opacity: 1;
    border-radius: 25px;
}

.window-1 .open {
    background-image: url(window1_open.png);
}

.window-2 .open {
    background-image: url(window2_open.png);
}

.window-3 .open {
    background-image: url(window3_open.png);
}


.window-line{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.text-line{
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    text-align: center;
}


.text span {
    color: #007bff;
    font-weight: bold;
}



.text-1 .text-2 .text-3{
    text-align: center;
    width: 100%;
    /* position: fixed; */
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    line-height: 1.5;
    color: #333;
    text-align: center;
}

.vectors {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    pointer-events: none;
}

.vector-clouds,
.vector-birds {
    position: absolute;
    top: 0; 
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.vector-clouds {
    background-image: url('Cloud.svg'); 
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height: 200px; 
}

.vector-birds {
    background-image: url('Birds 1.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 250px;
    height: 125px;
}


.circle-wrapper {
    position: relative;
    width: 100%;
    height: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-container {
    position: relative;
    width: 938px; 
    height: 938px; 
}

.circle-container svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center;
    transform: translate(-50%, -50%);
}

#circle5 {
    z-index: 1;
}

#circle1 {
    z-index: 2;
}

#circle2 {
    z-index: 3;
}

#circle3 {
    z-index: 4;
}

#circle4 {
    z-index: 5;
}



#hero {
    display: none; 
    background: url('hero-image.png') no-repeat center center/cover;
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: start;
}

/* CSS for Navbar */
.navbar {
    display: none; /* Initially hidden */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: display 0.5s ease-in-out;
}

.navbar.show {
    display: flex;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-link {
    font-size: 1.1rem;
    font-weight: 500;
    color: white !important;
    padding-left: 15px;
    padding-right: 15px;
}

.nav-link:hover {
    color: #ddd !important;
}

#hero {
    background: url('hero-image.png') no-repeat center center/cover;
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: start;
}

#hero .container-1 {
    max-width: 50%;  
    text-align: left;
    padding-left: 7%;
}

#hero h1 {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 20px;
}

#hero p {
    font-size: 1.5rem;
    /* padding-top: 10%; */
}

#hero .popular-places {
    margin-top: 90px; 
    font-weight: bold;
    /* padding-top: 10%; */
}

#explore {
    position: relative;
}

.explore-vector {
    position: absolute;
    top: 0;
    left: 0;
    width: 15%; 
    height: auto;
    z-index: 1;
}

#explore h2 {
    font-size: 3.75rem;
    margin-bottom: 10px;
    color: #155DFF;
    align-items: center;
    line-height: 70px;
    font-weight: 600;
}
#explore p{
    color: #555;
}
#why-sky-guru{
    background: url('why-sky-guru.png')no-repeat center center/cover;

}
#why-sky-guru h2,
#testimonial h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}
#testimonial h2 {
    color: #155DFF;
}
.card {
    border: none;
    transition: transform 0.3s;
    border-radius: 5%;
    margin-top: 15%;
}

.card:hover {
    transform: scale(1.05);
}

#testimonial .card-body {
    padding: 20px;
    text-align: center;
    
}
.card-body{
    text-align: start;
}
.card-body h5 {
    margin-bottom: 15px;
}

.card-body p {
    font-size: 1rem;
    color: #555;
}

.card-title{
    color: #155DFF;
}
.card-link{
    font-weight: 600;
    align-items:flex-start;
    text-align: start;
}
.container {
    max-width: 1200px;
    position: relative;
}

.testimonial-card .testimonial-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 0 auto;
    margin-top: -50px;
}

.testimonial-heading{
    padding-bottom: 5%;
    text-align: left;
}
.testimonial-card h6 {
    color:gray;
}
.testimonial-card p {
    text-align: start;
}
#subscribe {
    background: url('subs.png') no-repeat center center/cover;
    color: white;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#subscribe h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

#subscribe p {
    margin-top: 10px;
    font-size: 1.2rem;
}

.input-group input[type="email"] {
    border-radius: 20px 0 0 20px;
    padding-left: 20px;
}

.input-group button {
    border-radius: 0 20px 20px 0;
    padding: 0 30px;
}

.social-links a {
    font-size: 1.5rem;
    color: #333;
}

.footer .footer-logo {
    width: 50px;
    height: auto;
}

.footer .text-secondary {
    font-size: 0.9rem;
}

.footer .footer-top {
    border-bottom: 1px solid #eaeaea;
}

.footer .footer-bottom {
    background-color: #333;
    color: #fff;
}

.footer p {
    margin: 0;
    font-size: 0.9rem;
}
@media only screen and (min-width:1440px) {
    .vectors{
        top:40%;
    }
    .window-line{
        margin-top: -45%;
    }
    .vector-birds {
        margin-left: 15%;
        /* margin-bottom: 5px; */
    }
}
/* For laptops with screen size max-width: 1440px and height: 900px */
@media only screen and (max-width: 1440px) and (max-height: 900px) {
    .intro-windows{
        height: 150vh;
        margin-top: 0;
    }
    .circle-wrapper{
        height: 100vh;
    }
    .window {
        width: 140px;
        height: 180px;
    }

    .window .closed {
        border-radius: 22px;
    }

    .window .open {
        border-radius: 22px;
    }

    .window-line {
        margin-top:-40%;
    }
    #hero h1 {
        font-size: 4rem;
    }

    #hero p {
        font-size: 1.3rem;
    }

    .card {
        max-width: 600px;
    }

    .footer .footer-logo {
        width: 60px;
    }
    .container-top {
        margin-top: 10%;
        /* margin-bottom:  20%; */
    }

    .vectors{
        top:30%;
        /* left:50%; */
        /* right: 50%; */
    }
    .vector-clouds {
        width: 250px;
        height: 170px;
        left: 20px;
        /* top:20% */
    }

    .vector-birds {
        width: 200px;
        height: 100px;
        left: 130px;
    }
    .vector-clouds,
    .vector-birds {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}
}


/* For laptops with screen size max-width: 1024px and height: 768px */
@media only screen and (max-width: 1024px) and (max-height: 768px) {
  
    .window {
        width: 120px;
        height: 160px;
    }

    .window .closed {
        border-radius: 20px;
    }

    .window .open {
        border-radius: 20px;
    }

    .window-line {
        margin-top: -50%;
    }
    .container-top {
        margin-top: 20%;
        /* margin-bottom: 30%; */
    }

    .vectors{
        top:25%;
    }
   
    .vector-clouds {
        width: 250px;
        height: 170px;
        /* left: 20px; */
        /* top:20% */
    }

    .vector-birds {
        width: 200px;
        height: 100px;
        /* left: 130px; */
        margin-left: 15%;
    }
    .vector-clouds,
    .vector-birds {
        position: absolute;
        top: 0%; 
        left: 50%;
        transform: translate(-50%, -50%); 
        z-index: 9999; 
    }

}

/* For tablets with screen size max-width: 768px and height: 1024px */
@media only screen and (max-width: 768px) and (max-height: 1024px) {
    .intro-windows{
        height:100vh ;
    }
    .circle-wrapper{
        height: 100vh;
        /* width: 50%; */
    }
    #circle5 ,
    #circle1{display: none;}
    .circle-container{
        width: 600px;
        height: 600px;
    }
    
    .window {
        width: 100px;
        height: 130px;
    }

    .window .closed {
        border-radius: 15px;
    }

    .window .open {
        border-radius: 15px;
    }

    .window-line {
        margin-top: -75%;
    }
    #hero {
        height: 100vh;
    }

    #hero h1 {
        font-size: 3rem;
    }

    #hero p {
        font-size: 1rem;
    }
    .card {
        max-width: 500px;
    }

    .footer .footer-top,
    .footer .footer-bottom {
        padding: 40px;
        text-align: left;
    }

    .container-top {
        margin-top: 10%;
    
    }
    .vectors{
        margin-top: 50%;
    }
    .vector-clouds {
        width: 200px;
        height: 150px;
        /* left: 20px; */
        /* top:20% */
    }

    .vector-birds {
        width: 100px;
        height: 100px;
        /* left: 130px; */
        margin-left: 15%;
    }

}

/* For mobile devices with screen size max-width: 425px and height: 900px */
@media only screen and (max-width: 425px) and (max-height: 900px) {
    .window {
        width: 80px;
        height: 100px;
    }

    .window .closed {
        border-radius: 12px;
    }

    .window .open {
        border-radius: 12px;
    }

    .window-line {
        margin-top: 30%;
    }
    .footer .footer-logo {
        width: 50px;
    }
    #hero h1 {
        font-size: 3rem;
    }

    #hero p {
        font-size: 1.2rem;
    }
}
